* {
    /* outline: 2px solid red; */
}

.bank {
  position: fixed;
  bottom: 2rem;   /* spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

@keyframes dealCard {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}